<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <!-- Left Side Image -->
              <div class="col-lg-6 d-none d-lg-flex">
                <div class="flex-grow-1 bg-error-image"></div>
              </div>
              <!-- Right Side Content -->
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="text-danger mb-4">500</h1>
                    <h4 class="text-dark mb-4">Erreur Interne du Serveur</h4>
                    <p class="text-muted">
                      Oups, quelque chose s'est mal passé. Veuillez réessayer plus tard ou contacter l'assistance technique.
                    </p>
                    <a href="/" class="btn btn-primary d-block w-100">Retour à l'Accueil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  