<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex">
                <div class="flex-grow-1 bg-login-image"></div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="text-dark mb-4">Change Password</h4>
                  </div>
                  <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
                    <div class="mb-3">
                      <input
                        class="form-control"
                        style="border-radius: 0;"
                        type="password"
                        placeholder="Current Password"
                        name="oldPassword"
                        [(ngModel)]="passwordData.oldPassword"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        class="form-control"
                        style="border-radius: 0;"
                        type="password"
                        placeholder="New Password"
                        name="newPassword"
                        [(ngModel)]="passwordData.newPassword"
                        required
                      />
                    </div>
                    <button class="btn btn-danger d-block w-100" type="submit">
                      Change Password
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  